/* @import url('https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jersey+10&family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Caucasian+Albanian&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/* googel fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(53, 48, 48);
    color: white;
    font-family: "Noto Serif",serif;
    font-weight: 600px;
    font-style: normal;
}
header{
    margin:50px 100px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 26px;
}
header h3{
    color: blanchedalmond;
    font-size: 20px;
}
.bounsplus{
    color: green;
}
.loosebouns{
    color: red;
}
main{
    height: calc(100vh - 234px);
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding-left: 150px;
        /* justify-content: space-evenly; */
        /* align-content: space-between;  */
        padding-top: 20px;
}
h5{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
h5::before{
    content: "_______ ";

}
h5::after{
    content: " ______";

}
main input ,button{
    border: solid 0px gray;
    /* font-size: 50px; */
    text-align: center;
    padding: 25px 2px;
    border-radius: 90px;
    margin: 0;
    background-color: rgb(204, 188, 188);
    color: black;
}
main button{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
    margin-top: 20px;
    margin-left: 170px;
}
main label{
    color: cadetblue;
    font-size: 20px;
    font-weight: bold;
}
main section{
    margin-top: 10px;
    margin-right: 20px; 
    height: 50px;
    align-items: center;
    justify-items: center;
}
.check:hover{
    transition: 1s;
    scale: 1.06;
}
footer{
    height: auto;
    background: black;
    text-align: center;
    font-weight: 600;
}

@media(max-width:768px)
{
    main{
        flex-direction: column;
            padding-left: 20px;
            height: 63vh;
    }
    header{
        margin:50px 0;
    }
        header h1 {
            font-size: 20px;
        }
                header h3 {
                    color: blanchedalmond;
                    font-size: 17px;
                    margin-top: 10px;
                }
        main label{
            color: cadetblue;
            font-size: 15px;
        }
    main section {
            margin-top: 5px;
            padding-right: 100px;
        }
                main button {
                    margin-left: 150px;
                }
                h5{
    font-size: 18px;
    margin-left:10px ;
}
}
.againpa{
    position: relative;
}
.again{
    position: absolute;
    right:15px;
    bottom: 55px;
    background: black;
    padding: 10px;
    border-radius: 90px;
    transition: 1s;
    cursor: pointer;
}
.again:hover{
    background: white;
    color: black;
}